<!doctype html>
<html lang="fr">
	<!-- HEADER -->
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Application - Emploi du temps</title>
		<link rel="stylesheet" type="text/css" href="./vue/styleCSS/style.css"/>
		<link rel="stylesheet" type="text/css" href="./vue/styleCSS/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="./vue/styleCSS/normalize.css"/>
		<script src="./vue/scripts/jquery-3.3.1.min.js"></script>
	</head>
	<!-- BODY -->
	<body>
		<div class="container">
			<div class ="row">
				<div class="col-md-6">
					<h1 class="text-center">Grille d'EDT modules/périodes</h1>
					<div class="row">
					<div class="zone col-md-6" id="btns">
						<button class="btn" id="start">Générer l'EDT</button>
						<button class="btn" id="edt">sélection d'un edt</button>
						<button class="btn" id="matiere">créer une matière dans l'edt</button>
						<button class="btn" id="calculer">calculer les heures</button>
					</div>
						<div class="col-md-4">
							<div class="form-group row">
								<div class="col-md-12" id="select_form">
										<label for="sel1">Select Module:</label>
										<select class="form-control" id="select_module">
										</select>
								</div> 
							</div>
						</div>
					</div>
					<div class="zone" id="edt">
						<div class="row" id="H">
							<div class="cellules titre silver" id="titre">
								<p class="barre"></p>
								<p class="hautD">période</p>
								<p class="basG">modules</p>
							</div>
						</div>
						<div class="row cptV">
							<div class="cellules silver"><p><b>total/période</b></p></div>
							<div class="cellules total silver"><p class='tot'>-</p></div>
							<div class="cellules total silver"><p class='tot'>-</p></div>
							<div class="cellules total silver"><p class='tot'>-</p></div>
							<div class="cellules total silver"><p class='tot'>-</p></div>
							<div class="cellules total silver"><p class='tot'>-</p></div>
							<div class="cellules total silver"><p class='tot'>-</p></div>
							<div class="cellules total silver"><p></p></div>
						</div>
					</div>			
				</div>
			</div> 
		</div>
	</body>

	<script>
		var baseurl = window.location.origin+window.location.pathname;
		if (baseurl.charAt(baseurl.length-1)=="/"){
			baseurl = baseurl.slice(0,-1);
		}
		
		/*
		* Handler sur click sur le bouton "Générer EDT"
		*/
		$( "#start" ).one('click', function() {
			//Récupération des modules
			$.get(baseurl+"?controle=ModuleController&action=index", function(data, status){
				var object = JSON.parse(data);
					for (var o in object){
						var item = object[o];
						//Insertion des modules dans le tableau
						$('<div class="row edt">'+
						'<div class="cellules titre droppable silver" id='+item.id+'>'+item.nom+'</div>'+
						'<div class="cellules droppable silver"><p class="">1-1</p></div>'+
						'<div class="cellules droppable silver"><p class="">1-2</p></div>'+
						'<div class="cellules droppable silver"><p class="">1-3</p></div>'+
						'<div class="cellules droppable silver"><p class="">1-4</p></div>'+
						'<div class="cellules droppable silver"><p class="">1-5</p></div>'+
						'<div class="cellules droppable silver"><p class="">1-6</p></div>'+
						'<div class="cellules droppable silver"><p class="tot">-</p></div>').insertAfter($('#H'));
						//Insertion des modules dans le select
						$('#select_module').append('<option id='+item.id+'>'+item.nom+'</option>');
					}
			});
			//Récupération des périodes
			$.get(baseurl+"?controle=PeriodeController&action=index", function(data,status){
				var object = JSON.parse(data);
				for (var o in object){
					var item = object[o];
					$('<div class="cellules titre lime">'+item.periode+' ('+item.diff+' sem)</div>').insertAfter($('#titre'))
				}
			})
		});

		/*
		* Handler du formulaire
		*/
		$('#select_module').change(function(){ 
    var module_selected = $(this).val();
		// $.get(baseurl+"?controle=MatiereController&action=")
	});
	</script>
</html>
